{{- $work := promptBool "work machine" -}}
{{ $xmonad := false -}}
{{ if and (eq .chezmoi.os "linux") (eq "ubuntu" .chezmoi.osRelease.id) -}}
{{   $xmonad = promptBool "setup xmonad session" -}}
{{ end -}}
[data]
	name = "{{ promptString "name to use" }}"
	email = "{{ promptString "email to use" }}"
	work = {{ $work }}
{{- if $work }}
	gnupg = false
{{- else }}
	gnupg = {{ promptBool "setup gnupg, ssh and pass" }}
{{- end }}
	xmonad = {{ $xmonad }}
{{- if $xmonad }}
	latitude = "{{ promptString "location latitude" }}"
	longitude = "{{ promptString "location longitude" }}"
{{- end }}

