# Path to your oh-my-zsh configuration.
ZSH=$XDG_DATA_HOME/oh-my-zsh

# Set name of the theme to load.
# Look in ~/.oh-my-zsh/themes/
# Optionally, if you set this to "random", it'll load a random theme each
# time that oh-my-zsh is loaded.
ZSH_THEME="flazz"

# Example aliases
# alias zshconfig="mate ~/.zshrc"
# alias ohmyzsh="mate ~/.oh-my-zsh"

# Set to this to use case-sensitive completion
# CASE_SENSITIVE="true"

# Comment this out to disable bi-weekly auto-update checks
# DISABLE_AUTO_UPDATE="true"

# Do automatically update oh-my-zsh
DISABLE_UPDATE_PROMPT=true

# Uncomment to change how often before auto-updates occur? (in days)
# export UPDATE_ZSH_DAYS=13

# Uncomment following line if you want to disable colors in ls
# DISABLE_LS_COLORS="true"

# Uncomment following line if you want to disable autosetting terminal title.
# DISABLE_AUTO_TITLE="true"

# Uncomment following line if you want to disable command autocorrection
# DISABLE_CORRECTION="true"

# Uncomment following line if you want red dots to be displayed while waiting for completion
COMPLETION_WAITING_DOTS="true"

# Uncomment following line if you want to disable marking untracked files under
# VCS as dirty. This makes repository status check for large repositories much,
# much faster.
# DISABLE_UNTRACKED_FILES_DIRTY="true"

# Fix https://github.com/ohmyzsh/ohmyzsh/issues/6835#issuecomment-390216875
ZSH_DISABLE_COMPFIX=true

# Which plugins would you like to load? (plugins can be found in ~/.oh-my-zsh/plugins/*)
# Custom plugins may be added to ~/.oh-my-zsh/custom/plugins/
# Example format: plugins=(rails git textmate ruby lighthouse)

{{- $plugins := list "vi-mode" "last-working-dir" "history" "history-substring-search" "git" "tmux" "mosh" -}}
{{ if (eq .chezmoi.os "darwin") -}}
{{   $plugins = concat $plugins (list "brew" "macos") -}}
{{ else -}}
{{   if (eq .chezmoi.os "linux") -}}
{{     if (eq .chezmoi.osRelease.id "debian") -}}
{{       $plugins = mustAppend $plugins "debian" }}
{{     end -}}
{{     if (eq .chezmoi.osRelease.id "ubuntu") -}}
{{       $plugins = mustAppend $plugins "ubuntu" }}
{{     end -}}
{{   end -}}
{{ end -}}
{{ if .gnupg -}}
{{   $plugins = mustAppend $plugins "gpg-agent" -}}
{{ end -}}

plugins=({{ $plugins | join " " }})

{{ if (or .xmonad (ne .chezmoi.os "linux")) -}}
# Disable oh-my-zsh tmux plugin
ZSH_TMUX_AUTOSTART=false
{{- else -}}
# Auto start and connect tmux session. Very useful for ssh
ZSH_TMUX_AUTOSTART=true
ZSH_TMUX_DEFAULT_SESSION_NAME="default-session"
{{- end }}

# Setup software to be XDG compliant
export VIMINIT='let $MYVIMRC="$XDG_CONFIG_HOME/vim/vimrc" | source $MYVIMRC'

# Enable vim keybindings
bindkey -v

# Load oh-my-zsh
source $ZSH/oh-my-zsh.sh

